@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('NeuePlak-CondBlack.eot');
    src: url('NeuePlak-CondBlack.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondBlack.woff2') format('woff2'),
        url('NeuePlak-CondBlack.woff') format('woff'),
        url('NeuePlak-CondBlack.ttf') format('truetype'),
        url('NeuePlak-CondBlack.svg#NeuePlak-CondBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('NeuePlak-Bold.eot');
    src: url('NeuePlak-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-Bold.woff2') format('woff2'),
        url('NeuePlak-Bold.woff') format('woff'),
        url('NeuePlak-Bold.ttf') format('truetype'),
        url('NeuePlak-Bold.svg#NeuePlak-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('NeuePlak-Black.eot');
    src: url('NeuePlak-Black.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-Black.woff2') format('woff2'),
        url('NeuePlak-Black.woff') format('woff'),
        url('NeuePlak-Black.ttf') format('truetype'),
        url('NeuePlak-Black.svg#NeuePlak-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('NeuePlak-CondLight.eot');
    src: url('NeuePlak-CondLight.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondLight.woff2') format('woff2'),
        url('NeuePlak-CondLight.woff') format('woff'),
        url('NeuePlak-CondLight.ttf') format('truetype'),
        url('NeuePlak-CondLight.svg#NeuePlak-CondLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('NeuePlak-CondBold.eot');
    src: url('NeuePlak-CondBold.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondBold.woff2') format('woff2'),
        url('NeuePlak-CondBold.woff') format('woff'),
        url('NeuePlak-CondBold.ttf') format('truetype'),
        url('NeuePlak-CondBold.svg#NeuePlak-CondBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed Extra';
    src: url('NeuePlak-CondExtraBlack.eot');
    src: url('NeuePlak-CondExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondExtraBlack.woff2') format('woff2'),
        url('NeuePlak-CondExtraBlack.woff') format('woff'),
        url('NeuePlak-CondExtraBlack.ttf') format('truetype'),
        url('NeuePlak-CondExtraBlack.svg#NeuePlak-CondExtraBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed Ultra';
    src: url('NeuePlak-CondUltraLight.eot');
    src: url('NeuePlak-CondUltraLight.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondUltraLight.woff2') format('woff2'),
        url('NeuePlak-CondUltraLight.woff') format('woff'),
        url('NeuePlak-CondUltraLight.ttf') format('truetype'),
        url('NeuePlak-CondUltraLight.svg#NeuePlak-CondUltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('NeuePlak-CondRegular.eot');
    src: url('NeuePlak-CondRegular.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondRegular.woff2') format('woff2'),
        url('NeuePlak-CondRegular.woff') format('woff'),
        url('NeuePlak-CondRegular.ttf') format('truetype'),
        url('NeuePlak-CondRegular.svg#NeuePlak-CondRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('NeuePlak-CondThin.eot');
    src: url('NeuePlak-CondThin.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondThin.woff2') format('woff2'),
        url('NeuePlak-CondThin.woff') format('woff'),
        url('NeuePlak-CondThin.ttf') format('truetype'),
        url('NeuePlak-CondThin.svg#NeuePlak-CondThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('NeuePlak-ExtendedBold.eot');
    src: url('NeuePlak-ExtendedBold.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-ExtendedBold.woff2') format('woff2'),
        url('NeuePlak-ExtendedBold.woff') format('woff'),
        url('NeuePlak-ExtendedBold.ttf') format('truetype'),
        url('NeuePlak-ExtendedBold.svg#NeuePlak-ExtendedBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('NeuePlak-CondSemiBold.eot');
    src: url('NeuePlak-CondSemiBold.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondSemiBold.woff2') format('woff2'),
        url('NeuePlak-CondSemiBold.woff') format('woff'),
        url('NeuePlak-CondSemiBold.ttf') format('truetype'),
        url('NeuePlak-CondSemiBold.svg#NeuePlak-CondSemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('NeuePlak-ExtendedBlack.eot');
    src: url('NeuePlak-ExtendedBlack.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-ExtendedBlack.woff2') format('woff2'),
        url('NeuePlak-ExtendedBlack.woff') format('woff'),
        url('NeuePlak-ExtendedBlack.ttf') format('truetype'),
        url('NeuePlak-ExtendedBlack.svg#NeuePlak-ExtendedBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Extended Extra';
    src: url('NeuePlak-ExtendedExtraBlack.eot');
    src: url('NeuePlak-ExtendedExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-ExtendedExtraBlack.woff2') format('woff2'),
        url('NeuePlak-ExtendedExtraBlack.woff') format('woff'),
        url('NeuePlak-ExtendedExtraBlack.ttf') format('truetype'),
        url('NeuePlak-ExtendedExtraBlack.svg#NeuePlak-ExtendedExtraBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Extended Ultra';
    src: url('NeuePlak-ExtendedUltraLight.eot');
    src: url('NeuePlak-ExtendedUltraLight.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-ExtendedUltraLight.woff2') format('woff2'),
        url('NeuePlak-ExtendedUltraLight.woff') format('woff'),
        url('NeuePlak-ExtendedUltraLight.ttf') format('truetype'),
        url('NeuePlak-ExtendedUltraLight.svg#NeuePlak-ExtendedUltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Extended Semi';
    src: url('NeuePlak-ExtendedSemiBold.eot');
    src: url('NeuePlak-ExtendedSemiBold.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-ExtendedSemiBold.woff2') format('woff2'),
        url('NeuePlak-ExtendedSemiBold.woff') format('woff'),
        url('NeuePlak-ExtendedSemiBold.ttf') format('truetype'),
        url('NeuePlak-ExtendedSemiBold.svg#NeuePlak-ExtendedSemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('NeuePlak-ExtendedLight.eot');
    src: url('NeuePlak-ExtendedLight.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-ExtendedLight.woff2') format('woff2'),
        url('NeuePlak-ExtendedLight.woff') format('woff'),
        url('NeuePlak-ExtendedLight.ttf') format('truetype'),
        url('NeuePlak-ExtendedLight.svg#NeuePlak-ExtendedLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('NeuePlak-ExtendedRegular.eot');
    src: url('NeuePlak-ExtendedRegular.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-ExtendedRegular.woff2') format('woff2'),
        url('NeuePlak-ExtendedRegular.woff') format('woff'),
        url('NeuePlak-ExtendedRegular.ttf') format('truetype'),
        url('NeuePlak-ExtendedRegular.svg#NeuePlak-ExtendedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('NeuePlak-ExtendedThin.eot');
    src: url('NeuePlak-ExtendedThin.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-ExtendedThin.woff2') format('woff2'),
        url('NeuePlak-ExtendedThin.woff') format('woff'),
        url('NeuePlak-ExtendedThin.ttf') format('truetype'),
        url('NeuePlak-ExtendedThin.svg#NeuePlak-ExtendedThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('NeuePlak-Regular.eot');
    src: url('NeuePlak-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-Regular.woff2') format('woff2'),
        url('NeuePlak-Regular.woff') format('woff'),
        url('NeuePlak-Regular.ttf') format('truetype'),
        url('NeuePlak-Regular.svg#NeuePlak-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('NeuePlak-Light.eot');
    src: url('NeuePlak-Light.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-Light.woff2') format('woff2'),
        url('NeuePlak-Light.woff') format('woff'),
        url('NeuePlak-Light.ttf') format('truetype'),
        url('NeuePlak-Light.svg#NeuePlak-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Extra';
    src: url('NeuePlak-ExtraBlack.eot');
    src: url('NeuePlak-ExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-ExtraBlack.woff2') format('woff2'),
        url('NeuePlak-ExtraBlack.woff') format('woff'),
        url('NeuePlak-ExtraBlack.ttf') format('truetype'),
        url('NeuePlak-ExtraBlack.svg#NeuePlak-ExtraBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('NeuePlak-SemiBold.eot');
    src: url('NeuePlak-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-SemiBold.woff2') format('woff2'),
        url('NeuePlak-SemiBold.woff') format('woff'),
        url('NeuePlak-SemiBold.ttf') format('truetype'),
        url('NeuePlak-SemiBold.svg#NeuePlak-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-BoldItalic.eot');
    src: url('NeuePlakText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NeuePlakText-BoldItalic.woff2') format('woff2'),
        url('NeuePlakText-BoldItalic.woff') format('woff'),
        url('NeuePlakText-BoldItalic.ttf') format('truetype'),
        url('NeuePlakText-BoldItalic.svg#NeuePlakText-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-Black.eot');
    src: url('NeuePlakText-Black.eot?#iefix') format('embedded-opentype'),
        url('NeuePlakText-Black.woff2') format('woff2'),
        url('NeuePlakText-Black.woff') format('woff'),
        url('NeuePlakText-Black.ttf') format('truetype'),
        url('NeuePlakText-Black.svg#NeuePlakText-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-Italic.eot');
    src: url('NeuePlakText-Italic.eot?#iefix') format('embedded-opentype'),
        url('NeuePlakText-Italic.woff2') format('woff2'),
        url('NeuePlakText-Italic.woff') format('woff'),
        url('NeuePlakText-Italic.ttf') format('truetype'),
        url('NeuePlakText-Italic.svg#NeuePlakText-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-BlackItalic.eot');
    src: url('NeuePlakText-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('NeuePlakText-BlackItalic.woff2') format('woff2'),
        url('NeuePlakText-BlackItalic.woff') format('woff'),
        url('NeuePlakText-BlackItalic.ttf') format('truetype'),
        url('NeuePlakText-BlackItalic.svg#NeuePlakText-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-Bold.eot');
    src: url('NeuePlakText-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeuePlakText-Bold.woff2') format('woff2'),
        url('NeuePlakText-Bold.woff') format('woff'),
        url('NeuePlakText-Bold.ttf') format('truetype'),
        url('NeuePlakText-Bold.svg#NeuePlakText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-LightItalic.eot');
    src: url('NeuePlakText-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('NeuePlakText-LightItalic.woff2') format('woff2'),
        url('NeuePlakText-LightItalic.woff') format('woff'),
        url('NeuePlakText-LightItalic.ttf') format('truetype'),
        url('NeuePlakText-LightItalic.svg#NeuePlakText-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-Light.eot');
    src: url('NeuePlakText-Light.eot?#iefix') format('embedded-opentype'),
        url('NeuePlakText-Light.woff2') format('woff2'),
        url('NeuePlakText-Light.woff') format('woff'),
        url('NeuePlakText-Light.ttf') format('truetype'),
        url('NeuePlakText-Light.svg#NeuePlakText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-SemiBoldItalic.eot');
    src: url('NeuePlakText-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NeuePlakText-SemiBoldItalic.woff2') format('woff2'),
        url('NeuePlakText-SemiBoldItalic.woff') format('woff'),
        url('NeuePlakText-SemiBoldItalic.ttf') format('truetype'),
        url('NeuePlakText-SemiBoldItalic.svg#NeuePlakText-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

